
#BG {
  position: absolute;
  width: 900px;
  height: 500px;
    border-radius: 25px;
      padding: 20px; 
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -450px;
  background: #373741;
  text-align: center;
}

#Title {
  position: absolute;
  width: 800px;
  height: 100px;
  padding: 20px; 
  border-radius: 25px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -450px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
}

#Img {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -90px 0 0 -440px;
}

#Para1 {
  position: absolute;
  width: 800px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 60px 0 0 -370px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Para2 {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 110px 0 0 -370px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Para3 {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 180px 0 0 -370px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Lang {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 250px 0 0 -380px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Stats {
  position: absolute;
  width: 200px;
  height: 60px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 290px 0 0 -400px;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Stats2 {
  position: absolute;
  width: 200px;
  height: 60px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 368px 0 0 -400px;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Projects {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 250px 0 0 -30px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Proj1 {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 290px 0 0 -80px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Proj2 {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 330px 0 0 -80px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Proj3 {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 370px 0 0 -80px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#Social {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 250px 0 0 300px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#GH {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 290px 0 0 280px;
  text-align: left;
}

#DC {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 290px 0 0 330px;
  text-align: left;
}

#Masto {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 290px 0 0 380px;
  text-align: left;
}

#Bracket {
  position: absolute;
  width: 700px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 335px 0 0 280px;
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#BrcPara {
  position: absolute;
  width: 150px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 370px 0 0 280px;
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}
